body{
  background: url(https://res.cloudinary.com/patch-gardens/image/upload/c_fill,f_auto,h_840,q_auto:good,w_840/v1550500669/products/dieffenbachia-seguine-tropic-snow-c33c78.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

div{
  background-color: blue;
  border-color: orange;
  border-style: double;
  border-width: 5px;
}

p{
  color: yellow;
}

span{
  background : red;
  color: black;
}
