.firstDiv{
  color: red;
}

.secondDiv{
  color: blue;
}

#singledOut{
  color: green;
  text-decoration: line-through;
}

*{
  color:black;
}

h3 + ul{

  border: 4px dotted purple;
}

li a{
  color: red;
}

li a[href='http://nooshi.org']{
  color: blue;
  border: 5px solid orange;
}
