{% extends 'blog/base.html' %}
{% block bodyblock%}
  <div class="jumbotron">
    <h1>Please Log In</h1>
    <h2>(Must be a superuser. Check with admin.)</h2>

    {% if form.errors %}
      <p>Your username and password did not match. Try again. </p>
    {% endif %}

    <form class="" action="{% url 'blog:login' %}" method="post">
      {% csrf_token %}
        {% form.as_p%}
          <input type="submit"  class = 'btn btn-primary' name="" value="Login">
          <input type="hidden" name="next" value="{{next}}">
    </form>
  </div>

{% endblock%}
