body{
  background-color: #05054f;
  border-right: 60px solid #029aa6;
  border-left: 60px solid #029aa6;
  border-bottom: 60px solid #029aa6;
  margin: 20px 0px 0px 0px;
  color: white;
  text-align: center;
  font-family: Montserrat;
}
