.table{
  border: 2px solid black;
  width: 300px;
  height: 300px;
  margin-left: 500px;
  border-collapse: collapse;
  padding: 50px 50px 50px 50px;
}
td:nth-child(2){
 border-left: solid 2px black;
}
td:nth-child(3){
 border-left: solid 2px black;
}

tr:nth-child(1) {
   border-bottom: solid 2px black;
}
tr:nth-child(2) {
   border-bottom: solid 2px black;
}
.table td{
  text-align: center;
  font-family: Tahoma;
  font-weight: bold;
  padding-top: 40px;
  font-size: 15px;
}
.jumbotron{
  padding:70px 70px 70px 70px;
  font-family: Arial;
  background-color:#eee;
  margin: 20px 50px 20px 80px;
}
